<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link href="/style.css" rel="stylesheet">
        <link
            href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
            rel="stylesheet"
        />

        <script>
            function random(arr) {
                return arr[Math.floor(Math.random() * arr.length)];
            }
        </script>
    </head>
    <body>
        <a href="/">
        {% if page.url == "/" %}
            you are here
        {% else %}
            {{ backs | random }}
        {% endif %}
        </a>
        <nav>
            <a href="/">blog</a>
            <a href="/projects">projects</a>
            <a href="/art">art</a>
        </nav>
        <hr>
        <main>
            {{ content | safe }}
        </main>
        <hr>
        <footer>
            <nav>
                <a target="_blank" href="https://github.com/gabeklavans">github</a>
                <a target="_blank" href="https://www.linkedin.com/in/gabrielklavans">linkedin</a>
                <a target="_blank" rel="me" href="https://freeradical.zone/@dabe">mastodon</a>
                <a target="_blank" href="https://soundcloud.com/gabriel-klavans">soundcloud</a>
                <a target="_blank" href="https://tracks.dabe.tech">what i'm listening to</a>
            </nav>
            <span style="display: flex; justify-content: space-between;">
                <p>
                    <span id="quote">25% of the time js works 100% of the time</span>
                    -
                    <a id="quotee">mike wazowski</a>
                </p>
                <a href="/cringe-corner">the cringe corner</a>
                <script>
                    let quoteObjs = {{quotes | dump | safe}};
                    let quoteObj = random(quoteObjs);
                    document.getElementById("quote").textContent = `"${quoteObj.quote}"`;
                    document.getElementById("quotee").textContent = quoteObj.quotee;
                    if (quoteObj.link) {
                        document.getElementById("quotee").href = quoteObj.link;
                    }
                </script>
            </span>
        </footer>
    </body
</html>
<ul>
