<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <a href="/">
        {% if page.url == "/" %}
            you are here
        {% else %}
            {{ backs | random }}
        {% endif %}
        </a>
        <nav>
            <a href="/">blog</a>
            <a>projects</a>
        </nav>
        <hr>
        <main>
            {{ content | safe }}
        </main>
        <hr>
        <footer>
            <nav>
                <a href="https://github.com/gabeklavans">github</a>
                <a href="https://www.linkedin.com/in/gabrielklavans">linkedin</a>
            </nav>
            <p>{{ quotes | random | join(" - ") }}</p>
            <br>
            <a href="/cringe-corner">the cringe corner</a>
        </footer>
    </body
</html>
<ul>
