---
layout: layout.njk
---

<article class="h-entry">
    <h1><a class="p-name u-url" href="{{ page.url }}">
        {{ title }}
    </a></h1>

    <h3>{{ subtitle }}</h3>
 
    <div class="e-content">
        {{ content | safe }}
        <a href="https://brid.gy/publish/mastodon"></a>
        <a href="https://brid.gy/publish/bluesky"></a>

        <div class="post-footer">
            <p>- <a rel="author" class="p-author h-card" href="https://dabe.tech/">gabe</a></p>

            <p>
                {% for tag in tags %}
                    {% if tag != "post" %}
                        #<span class="p-category">{{ tag }} </span>
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>

</article>

{%- set currentPostMentions = webmentions | webmentionsForPage -%}
<div class="webmentions">

    <hr>

    <h3>{{ currentPostMentions.total }} Webmentions</h3>
    <p class="timestamp">Last fetched: {{ webmentionsLastFetched }}</p>

    {% for mention in currentPostMentions.mentions %}
        <div class="h-entry">
            <p>
            <a class="p-author h-card" href="{{ mention.author.url }}">
                <img class="u-photo avatar" alt="" src="{{ mention.author.photo or 'https://developer.valvesoftware.com/w/images/8/8b/Debugempty.png' }}"/>{{ mention.author.name or "unknown" }}</a>
            <a class="u-url" href="{{ mention.url }}">
            {% if mention["wm-property"] == "like-of" %}
                liked</a>:
                <a href="{{ page.url }}" class="u-like-of">{{ title }}</a></p>
            {% elif mention["wm-property"] == "in-reply-to" %}
                replied to</a>:
                <a href="{{ page.url }}" class="u-in-reply-to">{{ title }}</a></p>
                <blockquote class="p-name p-content">{{ mention.content.html | safe }}</div>
            {% elif mention["wm-property"] == "mention-of" %}
                mentioned</a>:
                <a href="{{ page.url }}">{{ title }}</a></p>
            {% endif %}
        </div>
    {% endfor %}
</div>
