---
layout: layout.njk
---

<article class="h-entry">
    <h1><a class="p-name u-url" href="{{ page.url }}">
        {{ title }}
    </a></h1>

    <h3>{{ subtitle }}</h3>
 
    <div class="e-content">
        {{ content | safe }}
    </div>
</article>
