---
layout: layout.njk
---

<article class="h-entry">
    <h1 class="p-name">{{ title }}</h1>

    <h3>{{ subtitle }}</h3>
 
    <div class="e-content">
        {{ content | safe }}
    </div>
</article>
