---
layout: layout.njk
title: Blawg
eleventyImport:
  collections: ["post"]
---
{% for post in collections.post | reverse %}
    <div class=post>
        <a href={{ post.page.url }}>
            {{ post.data.title }}
        </a>
        <br>
        <time>{{ post.date | longDate }}</time>
    </div>
{% endfor %}
