---
permalink: /robots.txt
---
# (                                          )       (        )  
# )\ )         (     (               (    ( /(       )\ )  ( /(  
#(()/(   (   ( )\    )\        (     )\   )\()) (   (()/(  )\()) 
# /(_))  )\  )((_)((((_)(      )\  (((_) ((_)\  )\   /(_))((_)\  
#(_))_  ((_)((_)_  )\ _ )\  _ ((_) )\___  _((_)((_) (_)) __ ((_) 
# |   \ | __|| _ ) (_)_\(_)| | | |((/ __|| || || __|| _ \\ \ / / 
# | |) || _| | _ \  / _ \  | |_| | | (__ | __ || _| |   / \ V /  
# |___/ |___||___/ /_/ \_\  \___/   \___||_||_||___||_|_\  |_|   

# thank u for this setup https://maia.crimew.gay

# AI scrapers
{{ aibots }}

# everyone else
User-agent: *
Allow: /

# sitemaps
Sitemap: {{ site.url }}/sitemap.xml
Sitemap: {{ site.url }}/sitemap-news.xml
