body {
	color: white;
	background-color: #1e1e1e;	
}

main {
	padding: 0 10%;
}

a {
	color: white;
}

nav {
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 1em;
}

.post {
	margin: 1em;
}

.post>time {
	opacity: 0.6;
	font-size: smaller;
}

.post>a {
	font-size: larger;
}

.post>a,p {
	margin: 0;
}
