@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Regular.woff2') format('woff2'),
        url('/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    color: white;
    background-color: #1e1e1e;
    font-family: "Inter", sans-serif;
}

img {
    width: 50px;
    height: auto;
}

nav {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

hr {
    color: #D45600;
}

a {
    color: white;
}

.e-content img {
    width: 50%;
    height: auto;
}

main {
    max-width: 1200px;
    margin: auto;
}

article {
    padding: 0 3%;
    margin: 0 auto;
    max-width: 1000px;
}

.webmentions .h-entry {
    margin: 20px 0;
}

main,
.e-content>p {
    margin-top: 25px;
    margin-bottom: 25px;
}

.e-content a:link {
    color: #A8DADC;
}

.e-content a:visited {
    color: #B39CD0;
}

table {
    border: 2px solid;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid;
}

tbody>th,
td {
    padding: 10px;
}

.me {
    display: flex;
    align-items: center;
}

.post {
    margin: 1em;
}

.post>time {
    opacity: 0.6;
    font-size: smaller;
}

.post>a {
    font-size: larger;
}

.post>a,
p {
    margin: 0;
}

/* Style the grid container */
.art-wall {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    align-items: center;
}

/* Style the images */
.art-wall img {
    width: 100%;
    height: auto;
    background: radial-gradient(closest-side, white, transparent);
}

.avatar {
    width: 50px;
    height: 50px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* I'm assuming these are emojis... */
blockquote>p>img {
    height: 1.5em;
    width: 1.5em;
}

.timestamp {
    font-size: smaller;
    font-weight: lighter;
    font-style: italic;
}
